<h1>Welcome to the <span>tic tac toe</span> game!</h1>
<h1>Choose your opponent:</h1>
<div class="choose-conteiner">
  <a routerLink="/user"><div class="icon"><i class="material-icons">&#xe7fd;</i></div></a>
  <a (click)="clickEvent()"><div class="icon"><i class="material-icons">&#xe30a;</i></div></a>
</div>

<div [ngClass]="show ? 'modal-conteiner' : 'hide'" (click)="clickEvent()"></div>
<div [ngClass]="show ? 'modal' : 'hide'">
  <div class="closebtn" (click)="clickEvent()">x</div>
  <a routerLink="/computer/1" (click)="clickEvent()"><div class="content"><div class="symbol">X</div></div></a>
  <div class="line"></div>
  <a routerLink="/computer/2" (click)="clickEvent()"><div class="content"><div class="symbol">O</div></div></a>
</div>

<router-outlet></router-outlet>

