<h3 *ngIf="!gameOver">Current player: {{ currentPlayer.name }}</h3>
<h3 *ngIf="gameOver && lastWinner == PLAYER_FIRST">First Player</h3>
<h3 *ngIf="gameOver && lastWinner == PLAYER_SECOND">Second Player</h3>
<h3 *ngIf="gameOver && lastWinner == DRAW">It's a draw</h3>


<div id="board" [class.locked]="boardLocked || gameOver">
  <div *ngFor="let square of board" 
    class="square" 
    [class.checked]="square.value != ''" 
    [class.winner]="square.winner"
    (click)="square_click(this.square)">
    <span class="square-cell">{{ square.value }}</span>
    
  </div>
</div>


<a routerLink="/computer"><input type="button" value="Go to menu" (click)="newGame()" /></a>

<input class="play-again" type="button" value="Play again" *ngIf="gameOver" (click)="newGame()" />
